.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
*.cover
*.log
.gitignore
README.md
Dockerfile
.dockerignore
alembic/
web/
.github/