name: Сборка проекта

on:
  push:
    tags:
      - '*'
  workflow_dispatch:


jobs:
  check-tags:
    runs-on: ubuntu-latest
    outputs:
        tag: ${{ steps.version.outputs.tag }}
        release: ${{ steps.version.outputs.release }}
    steps:
      - name: Скачивание репозитория
        uses: actions/checkout@v4

      - name: Определение версии
        id: version
        run: |
          tag=false
          release=false
          # Определяем, что было выбрано: branch или tag
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            TAG_NAME="${GITHUB_REF#refs/tags/}"
            echo "tag=$TAG_NAME" >> $GITHUB_OUTPUT
            SEGMENTS=$(echo "$TAG_NAME" | tr '.' '\n' | wc -l)
            if [ "$SEGMENTS" -le 3 ]; then
              echo "release=true" >> $GITHUB_OUTPUT
            else
              echo "release=false" >> $GITHUB_OUTPUT
            fi
          else
            echo "tag=false" >> $GITHUB_OUTPUT
            echo "release=false" >> $GITHUB_OUTPUT
          fi
  build:
    needs: check-tags
    if: needs.check-tags.outputs.tag != 'false'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Скачивание репозитория
        uses: actions/checkout@v4

      - name: Вход в GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Сборка и публикация образа
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ needs.check-tags.outputs.tag }}
            ghcr.io/${{ github.repository }}:latest

  create-release:
    runs-on: ubuntu-latest
    needs: check-tags
    if: needs.check-tags.outputs.release == 'true'
    permissions:
      contents: write
    steps:
      - name: Создание релиза
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.check-tags.outputs.tag }}
          name: Релиз ${{ needs.check-tags.outputs.tag }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    needs: [check-tags, build]
    if: needs.check-tags.outputs.tag != 'false' && success()
    runs-on: ubuntu-latest
    steps:
      - name: Скачивание репозитория
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.check-tags.outputs.tag }}

      - name: Чтение docker-compose.yml
        id: read_compose
        run: |
          if [ -f docker-compose.yml ]; then
            COMPOSE_CONTENT=$(base64 -w 0 docker-compose.yml)
            echo "compose_content=$COMPOSE_CONTENT" >> $GITHUB_OUTPUT
          else
            echo "❌ docker-compose.yml не найден. Остановка процесса." >&2
            exit 1
          fi

      - name: Отправка webhook на сервер деплоя
        env:
          WEBHOOK_URL: https://deploy.falbue.ru/webhook
          WEBHOOK_SECRET: ${{ secrets.DEPLOY_WEBHOOK_SECRET }}
          REPO: ${{ github.repository }}
          TAG: ${{ needs.check-tags.outputs.tag }}
          COMPOSE_B64: ${{ steps.read_compose.outputs.compose_content }}
        run: |
          PAYLOAD=$(jq -nc \
            --arg repo "$REPO" \
            --arg tag "$TAG" \
            --arg compose_b64 "$COMPOSE_B64" \
            '{"repo": $repo, "tag": $tag, "compose_b64": $compose_b64}'
          )

          SIGNATURE="sha256=$(echo -n "$PAYLOAD" | openssl dgst -sha256 -hmac "$WEBHOOK_SECRET" | sed 's/^.* //')"

          curl -fsS -X POST \
            -H "Content-Type: application/json" \
            -H "X-Hub-Signature-256: $SIGNATURE" \
            -d "$PAYLOAD" \
            "$WEBHOOK_URL"
          echo "✅ Webhook успешно отправлен"