name: Публикация на GitHub Pages

on:
  push:
    branches: [ web ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Проверка репозитория
        uses: actions/checkout@v4

      - name: Настройка Pages
        uses: actions/configure-pages@v5

      - name: Загрузка артефакта
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./web

      - name: Публикация на GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4